{% extends "blog/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Login to Your Account</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="hidden" name="next" value="{{ next }}"> 
        
        <button type="submit" class="btn-primary">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register now</a>.</p>
</div>
{% endblock %}