{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="post-detail">
    <hr>
    
    <h3>Comments ({{ post.comments.count }})</h3>
    
    {% if user.is_authenticated %}
        <div class="comment-form-container">
            <h4>Leave a Comment</h4>
            <form action="{% url 'comment_create' post_pk=post.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn-primary">Post Comment</button>
            </form>
        </div>
    {% else %}
        <p>You must <a href="{% url 'login' %}">log in</a> to post a comment.</p>
    {% endif %}
    
    <div class="comments-list">
        {% for comment in post.comments.all %}
            <div class="comment-item">
                <p class="comment-meta">
                    <strong>{{ comment.author.username }}</strong> commented on 
                    {{ comment.created_at|date:"M j, Y, P" }}:
                </p>
                <p class="comment-content">{{ comment.content|linebreaksbr }}</p>
                
                {% if user == comment.author %}
                    <div class="comment-actions">
                        <a href="{% url 'comment_update' pk=comment.pk %}">Edit</a> | 
                        <a href="{% url 'comment_delete' pk=comment.pk %}">Delete</a>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p>Be the first to leave a comment!</p>
        {% endfor %}
    </div>

</article>
{% endblock %}